:root {
    --color-de-fondo: #f5f5f5;
    --color-de-link: #000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    text-decoration: none;
    color: var(--color-de-link)
}

ol, ul, li {
    list-style: none;
}


/* Seccion del menu */
.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.menu_header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    gap: 8px;
    white-space: nowrap;
    margin-right: 10px;
}

.menu_list {
    display: flex;
    padding: 0%;
    gap: 20px;
}

/* Seccion del Header */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title_div {
    width: 100%; /*Ancho maximo */
    max-width: 1180px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_profile {
    order: 2;
    width: 200px;
    margin-left: 20px;
}

.title_container {
    order: 1; 
    flex:  1;
    background-color: #F8F6F4;
}

.title_bio {
    font-size: 52px;
    font-weight: bold;
}

.title_subsection {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: normal;
}

.title_network {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
}

.title_network_item a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
    font-weight: medium;
}

/* Seccion acerca de mi */

.about {
    background-color: #E3E1D9;
    width: 100%;
    display: flex;
    text-align: start;
    padding-left: 1em;
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1180px;
    height: 255px;
    margin-top: 5;
}

.about_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.about_paragraph {
    margin-bottom: 5px;
    margin-top: 20px;
}

/* Seccion de Skills */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.skills_tite {
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}